# Local JSON datastore
data.json

# Temporary files
*.tmp
logs/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE files
.vscode/
.idea/
*.swp
*.swo

.env
*.zip

# Docker files
docker-compose.override.yml
Dockerfile

redis_data/